@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

/* base styles */
* {
    background-color: #000;
    color: white;
    font-family: "Roboto";
    margin: 0;
}

a {
    color: skyblue;
    font-family: "Roboto";
    font-size: 0.9em;
    text-decoration: none;
}

a:link {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    color: #ccffcc;
    text-decoration: none;
}

.baptitle {
    font-size: 1em;
    margin-left: 30px;
}

.bottomspace {
    clear: left;
    float: left;
    width: 350px;
    font-size: 0.7em;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 10px;
    color: red;
}

li {
    font-size: 0.9em;
    margin-bottom: 6px;
}

.daycolors {
    float: left;
    font-size: 0.8em;
    height: 30px;
    width: 250px;
}

.stationcheckarea {
    clear: left;
    float: left;
    width: 350px;
    border: 1px solid white;
    font-size: 0.8em;
    margin-top: 50px;
    padding: 10px;
}

.go-black {
    background-color: #000;
    color: #000;
    float: left;
    height: 100%;
    line-height: 30px;
    margin-left: 1px;
    text-align: center;
    vertical-align: middle;
    width: 30px;
}

.go-blue {
    background-color: #1994f1;
    color: #303030;
    float: left;
    height: 100%;
    line-height: 30px;
    margin-left: 1px;
    text-align: center;
    vertical-align: middle;
    width: 30px;
}

.go-green {
    background-color: #1efc0f;
    color: #303030;
    float: left;
    height: 100%;
    line-height: 30px;
    margin-left: 1px;
    text-align: center;
    vertical-align: middle;
    width: 30px;
}

.go-lightgreen {
    background-color: #abf7b1;
    color: #303030;
    float: left;
    height: 100%;
    line-height: 30px;
    margin-left: 1px;
    text-align: center;
    vertical-align: middle;
    width: 30px;
}

.go-yellow {
    background-color: #fcec0f;
    color: #303030;
    float: left;
    height: 100%;
    line-height: 30px;
    margin-left: 1px;
    text-align: center;
    vertical-align: middle;
    width: 30px;
}

.go-yellow-blue {
    background: -webkit-linear-gradient(bottom right, #1994f1, #1994f1 30%, #fcec0f 30%, #fcec0f);
    color: #303030;
    float: left;
    height: 100%;
    line-height: 30px;
    margin-left: 1px;
    text-align: center;
    vertical-align: middle;
    width: 30px;
}

.go-lightgreen-blue {
    background: -webkit-linear-gradient(bottom right, #1994f1, #1994f1 30%, #abf7b1 30%, #abf7b1);
    color: #303030;
    float: left;
    height: 100%;
    line-height: 30px;
    margin-left: 1px;
    text-align: center;
    vertical-align: middle;
    width: 30px;
}

.go-gray {
    background-color: #9c9c9c;
    color: #303030;
    float: left;
    height: 100%;
    line-height: 30px;
    margin-left: 1px;
    text-align: center;
    vertical-align: middle;
    width: 30px;
}

.go-gray-blue {
    background: -webkit-linear-gradient(bottom right, #1994f1, #1994f1 30%, #9c9c9c 30%, #9c9c9c);
    color: #303030;
    float: left;
    height: 100%;
    line-height: 30px;
    margin-left: 1px;
    text-align: center;
    vertical-align: middle;
    width: 30px;
}

.headererrormessage {
    border: 1px solid darkgray;
    float: left;
    clear: left;
    font-size: 0.9em;
    width: 300px;
    margin: 20px 0 20px 30px;
    padding: 10px;
    color: red;
    display: none;
}

.infopanel {
    clear: left;
    color: white;
    float: left;
    font-size: 0.9em;
    margin: 10px 0 10px 0;
    width: 400px;
}

.infobutton {
    background-color: #03a9f4;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    float: right;
    margin-right: 30px;
    padding: 3px 6px 3px 6px;
}

.infoblocks {
    margin-bottom: 15px;
}

.infogreen {
    background-color: #1efc0f;
    color: #000;
    margin-right: 5px;
    padding: 4px;
}

.infogreenlight {
    background-color: #abf7b1;
    color: #000;
    margin-right: 5px;
    padding: 4px;
}

.infoyellow {
    background-color: #ffff00;
    color: #000;
    margin-right: 5px;
    padding: 4px;
}

.infogray {
    background-color: gray;
    color: #fff;
    margin-right: 5px;
    padding: 4px;
}

.infoblue {
    background-color: #1b7ac7;
    color: #000;
    color: #fff;
    padding: 4px;
}

.morestuff {
    clear: left;
    float: left;
    margin-bottom: 5px;
    margin-left: 5px;
    padding: 5px;
}

.moretitle {
    clear: left;
    color: #fff;
    float: left;
    font-size: 0.9em;
}

.morelinks {
    clear: left;
    float: left;
    font-size: 0.8em;
    margin: 5px 0 8px 5px;
    width: 400px;
}

.morelinky {
    margin-right: 10px;
}

.nws_image_box {
    clear: left;
    float: left;
    height: 100%;
}

.nws_image {
    margin: auto;
    max-width: 100%;
    width: 100%;
}

.rowbutton {
    background-color: #4d5471;
    border: none;
    clear: left;
    color: #949494;
    float: left;
    height: 30px;
    width: 30px;
}
.siterow {
    clear: left;
    cursor: pointer;
    float: left;
    margin-bottom: 1px;
    margin-left: 5px;
    width: 450px;
}

.toprow {
    clear: left;
    float: left;
    width: 450px;
}

.linkmap {
    width: 400px;
}

.sitename {
    background-color: #454d72;
    color: white;
    float: left;
    font-size: 0.9em;
    height: 30px;
    line-height: 30px;
    padding-left: 15px;
    padding-right: 5px;
    vertical-align: middle;
    width: 130px;
}

.sitenamehigh {
    background-color: #1b7ac7;
    color: white;
    float: left;
    font-size: 0.9em;
    height: 30px;
    line-height: 30px;
    padding-left: 15px;
    padding-right: 5px;
    vertical-align: middle;
    width: 130px;
}

.status {
    color: pink;
    margin-left: 30px;
}
.subtitle {
    clear: left;
    color: rgb(100, 197, 230);
    float: left;
    font-size: 1em;
    margin: 20px 0 10px 5px;
}

.thetitle {
    margin: 13px 0 13px 0;
    width: 400px;
}
